.loginWrapper{
    display: flex;
    justify-content: center;
}
.loginCard{
    width: 25vw ;
    margin-top: 5%;
}
.insta-logo {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-logo img {
    width: 100%;
}